body, html{
    height: 100%;
    width: 100%;
}
main{
    background-color: yellow;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}